In [41]:
import os
import json
import requests
import pandas as pd


CarInsurance_df = pd.read_html("https://www.carinsurance.com/calculators/average-car-insurance-rates.aspx")

AutoInsurance_df = pd.read_html("https://www.autoinsurance.org/quoting-auto-insurance-rates-by-zip-code/")

In [2]:
print(len(CarInsurance_df))
print(len(AutoInsurance_df))

7
10

In [3]:
mst_and_lst_expnsv_by_state_CarInsurance_df = CarInsurance_df[5]
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

mst_and_lst_expnsv_by_state_CarInsurance_df = mst_and_lst_expnsv_by_state_CarInsurance_df[["State", "ZIP Code", "City", "Average Annual Rate"]]
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

mst_and_lst_expnsv_by_state_CarInsurance_df = mst_and_lst_expnsv_by_state_CarInsurance_df.rename ({"ZIP Code" : "Zip Code", "Average Annual Rate" : "Average Auto Insurance Rate"}, axis = 1)
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

           State  Zip Code         City Average Auto Insurance Rate
0          Maine      4735  Bridgewater                        $993
1  New Hampshire      3766      Lebanon                        $995
2           Ohio     45885    St. Marys                        $995
3       Virginia     24060   Blacksburg                      $1,005
4      Wisconsin     54952      Menasha                      $1,080

In [4]:
mst_expnsv_by_state_CarInsurance_df = CarInsurance_df[6]
mst_expnsv_by_state_CarInsurance_df.head()

mst_expnsv_by_state_CarInsurance_df = mst_expnsv_by_state_CarInsurance_df[["State", "ZIP Code", "City", "Average Annual Rate"]]
mst_expnsv_by_state_CarInsurance_df.head()

mst_expnsv_by_state_CarInsurance_df = mst_expnsv_by_state_CarInsurance_df.rename ({"ZIP Code" : "Zip Code", "Average Annual Rate" : "Average Auto Insurance Rate"}, axis = 1)
mst_expnsv_by_state_CarInsurance_df.head()

        State  Zip Code             City Average Auto Insurance Rate
0    Michigan     48226          Detroit                      $6,329
1    New York     11212         New York                      $5,703
2   Louisiana     70117      New Orleans                      $4,601
3      Nevada     89101        Las Vegas                      $3,768
4  California     91605  North Hollywood                      $3,767

In [8]:
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df = AutoInsurance_df[3]
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df = _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.rename ({"ZIP Code" : "Zip Code", "Average Annual Auto Insurance Rates" : "Average Auto Insurance Rate"}, axis = 1)
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df["State"] = ""
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df = _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df[["State", "Zip Code", "City", "Average Auto Insurance Rate"]]
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

  State Zip Code     City Average Auto Insurance Rate
0          48201  Detroit                  $30,350.09
1          48206  Detroit                  $29,791.56
2          48227  Detroit                  $29,374.46
3          48204  Detroit                  $29,281.79
4          48202  Detroit                  $28,946.15

In [40]:
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_len = len(_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df)

for x in range(len(_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df)):
#     print({_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['City']})
#     print("test")
    
    if _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df["City"][x] == "Detroit":
#         print(_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df["City"][x])
#         print(_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df["State"][x])

        _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['State'][x] = "Michigan"
        print(f"The state is: {_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['State'][x]} and city: {_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['City'][x]}")

The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit
The state is: Michigan and city: Detroit

In [ ]:
user_API_key = ""
url = "https://api.zip-codes.com/ZipCodesAPI.svc/1.0/QuickGetZipCodeDetails/"

print(url)

In [ ]:
zip_code = 77042

zip_code_request = requests.get(url + zip_code + "?key=" + user_API_key)
zip_code_request.url

In [ ]:
for x in range(len(_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df)):
#     print({_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['City']})
#     print("test")
    
    if _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df["State"][x] == "":
#         print(_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df["City"][x])
#         print(_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df["State"][x])
        zip_code = _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['Zip Code'][x]
        print(f"{url}{zip_code}?key={user_API_key}")
#         _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['State'][x] = "Michigan"
#         print(f"The state is: {_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['State'][x]} and city: {_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df['City'][x]}")

request.get(url)

In [ ]:
request.get(url)

In [43]:
request.get(url).json()

NameError: name 'request' is not defined

In [ ]:
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df = AutoInsurance_df[4]
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df = _25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.rename ({"ZIP Code" : "Zip Code", "Average Annual Auto Insurance Rates" : "Average Auto Insurance Rate"}, axis = 1)
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df["State"] = ""
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df = _25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df[["State", "Zip Code", "City", "Average Auto Insurance Rate"]]
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

In [ ]:
len(_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df)

In [ ]:
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df = auto_insurance_df[5]
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df.head()

In [ ]:
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1_df = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df[["State", "Least Expensive Zip Code", "City", "Lowest Average Annual Auto Insurance Rates"]]
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state.head()

hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1_df = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1_df.rename ({"Least Expensive Zip Code" : "Zip Code", "Lowest Average Annual Auto Insurance Rates" : "Average Auto Insurance Rate"}, axis = 1)
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1_df.head()

In [ ]:
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2_df = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df[["State", "Most Expensive Zip Code", "City.1", "Highest Average Annual Auto Insurance Rates"]]
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2_df.head()

hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2_df = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2_df.rename ({"Most Expensive Zip Code" : "Zip Code", "City.1" : "City", "Highest Average Annual Auto Insurance Rates" : "Average Auto Insurance Rate"}, axis = 1)
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2_df.head()

In [ ]:
# merged_test = pd.merge(test_1, test_2, on = "Zip Code", how = "outer")
# merged_test

In [ ]:
frames = [mst_expnsv_by_state_CarInsurance_df, _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df, _25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df, _25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df, hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1_df, hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2_df]

avg_auto_insnc_concat_df = pd.concat(frames)
avg_auto_insnc_concat_df

In [ ]:
avg_auto_insnc_concat_df.shape

In [ ]:
avg_auto_insnc_concat_df.count()

In [ ]:
avg_auto_insnc_concat_df["Zip Code"].value_counts()

In [ ]:
# test = avg_auto_insnc_concat_df.loc[avg_auto_insnc_concat_df["City"] == "Get Your Rates Quote Now"].index
# test

In [ ]:
# drp_gt_your_rts_qute_nw = avg_auto_insnc_concat_df[(avg_auto_insnc_concat_df["State"] == "Get Your Rates Quote Now")].index
# drp_gt_your_rts_qute_nw

In [ ]:
drp_gt_your_rts_qute_nw_index = avg_auto_insnc_concat_df[(avg_auto_insnc_concat_df["City"] == "Get Your Rates Quote Now")].index
drp_gt_your_rts_qute_nw_index

In [ ]:
avg_auto_insnc_concat_df = avg_auto_insnc_concat_df.drop(drp_gt_your_rts_qute_nw_index)
avg_auto_insnc_concat_df

In [ ]:
avg_auto_insnc_concat_df["Zip Code"].value_counts()

In [ ]:
drp_gt_your_rts_qute_nw = avg_auto_insnc_concat_df[(avg_auto_insnc_concat_df["Zip Code"] == "24450")]
drp_gt_your_rts_qute_nw

In [ ]:
exprt_pth = os.path.join("Resources", "Average_Auto_Insurance_Data.csv")

avg_auto_insnc_concat_df.to_csv(exprt_pth, index=False, header=True)