In [3]:
import pandas as pd

CarInsurance_df = pd.read_html("https://www.carinsurance.com/calculators/average-car-insurance-rates.aspx")

AutoInsurance_df = pd.read_html("https://www.autoinsurance.org/quoting-auto-insurance-rates-by-zip-code/")

In [4]:
print(len(CarInsurance_df))
print(len(AutoInsurance_df))

7
10

In [66]:
mst_and_lst_expnsv_by_state_CarInsurance_df = CarInsurance_df[5]
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

mst_and_lst_expnsv_by_state_CarInsurance_df = mst_and_lst_expnsv_by_state_CarInsurance_df[["State", "ZIP Code", "City", "Average Annual Rate"]]
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

mst_and_lst_expnsv_by_state_CarInsurance_df = mst_and_lst_expnsv_by_state_CarInsurance_df.rename ({"ZIP Code" : "Zip Code", "Average Annual Rate" : "Average Auto Insurance Rate"}, axis = 1)
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

           State  Zip Code         City Average Auto Insurance Rate
0          Maine      4735  Bridgewater                        $993
1  New Hampshire      3766      Lebanon                        $995
2           Ohio     45885    St. Marys                        $995
3       Virginia     24060   Blacksburg                      $1,005
4      Wisconsin     54952      Menasha                      $1,080

In [72]:
mst_expnsv_by_state_CarInsurance_df = CarInsurance_df[6]
mst_expnsv_by_state_CarInsurance_df.head()

mst_expnsv_by_state_CarInsurance_df = mst_expnsv_by_state_CarInsurance_df[["State", "ZIP Code", "City", "Average Annual Rate"]]
mst_expnsv_by_state_CarInsurance_df.head()

mst_expnsv_by_state_CarInsurance_df = mst_expnsv_by_state_CarInsurance_df.rename ({"ZIP Code" : "Zip Code", "Average Annual Rate" : "Average Auto Insurance Rate"}, axis = 1)
mst_expnsv_by_state_CarInsurance_df.head()

        State  Zip Code             City Average Auto Insurance Rate
0    Michigan     48226          Detroit                      $6,329
1    New York     11212         New York                      $5,703
2   Louisiana     70117      New Orleans                      $4,601
3      Nevada     89101        Las Vegas                      $3,768
4  California     91605  North Hollywood                      $3,767

In [90]:
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde = auto_insurance_df[3]
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde.head()

_25_mst_expnsv_auto_insrnc_rts_by_zip_cde = _25_mst_expnsv_auto_insrnc_rts_by_zip_cde.rename ({"ZIP Code" : "Zip Code", "Average Annual Auto Insurance Rates" : "Average Auto Insurance Rate"}, axis = 1)
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde.head()

_25_mst_expnsv_auto_insrnc_rts_by_zip_cde["State"] = ""
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde.head()

_25_mst_expnsv_auto_insrnc_rts_by_zip_cde = _25_mst_expnsv_auto_insrnc_rts_by_zip_cde[["State", "Zip Code", "City", "Average Auto Insurance Rate"]]
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde.head()

  State Zip Code     City Average Auto Insurance Rate
0          48201  Detroit                  $30,350.09
1          48206  Detroit                  $29,791.56
2          48227  Detroit                  $29,374.46
3          48204  Detroit                  $29,281.79
4          48202  Detroit                  $28,946.15

In [92]:
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde = auto_insurance_df[4]
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde.head()

_25_lst_expnsv_auto_insrnc_rts_by_zip_cde = _25_lst_expnsv_auto_insrnc_rts_by_zip_cde.rename ({"ZIP Code" : "Zip Code", "Average Annual Auto Insurance Rates" : "Average Auto Insurance Rate"}, axis = 1)
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde.head()

_25_lst_expnsv_auto_insrnc_rts_by_zip_cde["State"] = ""
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde.head()

_25_lst_expnsv_auto_insrnc_rts_by_zip_cde = _25_lst_expnsv_auto_insrnc_rts_by_zip_cde[["State", "Zip Code", "City", "Average Auto Insurance Rate"]]
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde.head()

  State Zip Code          City Average Auto Insurance Rate
0          24450     Lexington                   $2,018.13
1          22802  Harrisonburg                   $2,031.22
2          24401      Staunton                   $2,033.51
3          22815      Broadway                   $2,034.01
4          24060    Blacksburg                   $2,035.11

In [81]:
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state = auto_insurance_df[5]
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state.head()

,State,Least Expensive Zip Code,City,Lowest Average Annual Auto Insurance Rates,Most Expensive Zip Code,City.1,Highest Average Annual Auto Insurance Rates
0,Virginia,24450,Lexington,"$2,018.13",22312,Alexandria,"$2,871.02"
1,Hawaii,96703,Anahola,"$2,198.62",96704,Captain Cook,"$2,859.11"
2,Ohio,44883,Tiffin,"$2,325.38",43224,Columbus,"$3,667.48"
3,Alaska,99820,Angoon,"$2,335.97",99504,Anchorage,"$3,132.74"
4,Massachusetts,02554,Nantucket,"$2,378.90",02119,Boston,"$5,333.79"

In [98]:
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1 = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state[["State", "Least Expensive Zip Code", "City", "Lowest Average Annual Auto Insurance Rates"]]
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state.head()

hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1 = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1.rename ({"Least Expensive Zip Code" : "Zip Code", "Lowest Average Annual Auto Insurance Rates" : "Average Auto Insurance Rate"}, axis = 1)
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1.head()

           State Zip Code       City Average Auto Insurance Rate
0       Virginia    24450  Lexington                   $2,018.13
1         Hawaii    96703    Anahola                   $2,198.62
2           Ohio    44883     Tiffin                   $2,325.38
3         Alaska    99820     Angoon                   $2,335.97
4  Massachusetts    02554  Nantucket                   $2,378.90

In [99]:
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2 = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state[["State", "Most Expensive Zip Code", "City.1", "Highest Average Annual Auto Insurance Rates"]]
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2.head()

hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2 = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2.rename ({"Most Expensive Zip Code" : "Zip Code", "City.1" : "City", "Highest Average Annual Auto Insurance Rates" : "Average Auto Insurance Rate"}, axis = 1)
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2.head()

           State Zip Code          City Average Auto Insurance Rate
0       Virginia    22312    Alexandria                   $2,871.02
1         Hawaii    96704  Captain Cook                   $2,859.11
2           Ohio    43224      Columbus                   $3,667.48
3         Alaska    99504     Anchorage                   $3,132.74
4  Massachusetts    02119        Boston                   $5,333.79

In [ ]:
# merged_test = pd.merge(test_1, test_2, on = "Zip Code", how = "outer")
# merged_test

In [101]:
frames = [mst_expnsv_by_state_CarInsurance_df, _25_mst_expnsv_auto_insrnc_rts_by_zip_cde, _25_lst_expnsv_auto_insrnc_rts_by_zip_cde, _25_lst_expnsv_auto_insrnc_rts_by_zip_cde, hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_1, hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_2]

avg_auto_insnc_concat_df = pd.concat(frames)
avg_auto_insnc_concat_df

,State,Zip Code,City,Average Auto Insurance Rate
0,Michigan,48226,Detroit,"$6,329"
1,New York,11212,New York,"$5,703"
2,Louisiana,70117,New Orleans,"$4,601"
3,Nevada,89101,Las Vegas,"$3,768"
4,California,91605,North Hollywood,"$3,767"
...,...,...,...,...
47,District Of Columbia,20002,Washington,"$4,440.79"
48,New Jersey,07102,Newark,"$8,512.59"
49,Delaware,06340,Groton,"$3,896.10"
50,Michigan,48201,Detroit,"$30,350.09"
51,Get Your Rates Quote Now,Get Your Rates Quote Now,Get Your Rates Quote Now,Get Your Rates Quote Now

In [111]:
avg_auto_insnc_concat_df.shape

(233, 4)

In [106]:
avg_auto_insnc_concat_df.count()

State                          233
Zip Code                       233
City                           233
Average Auto Insurance Rate    233
dtype: int64

In [114]:
avg_auto_insnc_concat_df["Zip Code"].value_counts()

Get Your Rates Quote Now    5
24450                       3
24471                       2
24060                       2
22834                       2
                           ..
88310                       1
25621                       1
96781                       1
33142                       1
99504                       1
Name: Zip Code, Length: 201, dtype: int64